.swap {
  width: 83%;
  background: #ffffff;
  border: 0.5px solid rgba(141, 140, 125, 0.5);
  border-radius: 10px;
}

.swap-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.swap .asset-box {
  background: #fffaf3;
  border: 0.2px solid #a6a6a6;
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 10px;
  width: 43%;
}

.swap-assets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 95.93px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(111, 118, 126, 0.2);
  border-radius: 6px;
}

.asset-box input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 312px;
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(111, 118, 126, 0.2);
  box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
  border-radius: 6px;
}

.swap-icon {
  background-color: #f3f3f3;
  padding: 5px;
  border-radius: 5px;
}

.swap-details {
  font-size: 12px;
}

.asset-box input:focus {
  outline: none;
}
