.notifications {
  width: 20%;
  padding: 10px;
  color: #fff;
  background: #241f17;
}
.notifications-header {
  border-bottom: 1px solid rgb(55, 54, 54);
  padding-bottom: 10px;
}

.notification {
  cursor: pointer;
  border-bottom: 1px solid rgb(55, 54, 54);
}

.notification:hover {
  background-color: #192249;
}

.view-notifications {
  display: flex;
  justify-content: center;
}

.notification-body {
  width: 50%;
  height: 50vh;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 20px;
}

.vn-header {
  display: flex;
  justify-content: space-between;
}

.vn-body {
  padding-top: 20px;
}

.vn-body p {
  margin-top: 20px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
