.transactions {
  width: 83%;
  margin-top: 40px;
}
.table-box {
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.table-row {
  display: table;
  width: 100%;
  margin: 10px auto;
  font-family: sans-serif;
  background-color: transparent;
  padding: 0;
  color: #555;
  font-size: 13px;
  border-bottom: 1px solid #ccc;
}

.table-cell {
  display: table-cell;
  width: 40%;
  text-align: left;
  padding: 10px 20px;
  vertical-align: middle;
}
.table-cell p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.table-cell a:hover {
  text-decoration: underline;
  color: #f9603d;
}

.table-head {
  font-weight: 600;
  font-size: 14px;
  background: #f9f4ed;
}

.transactions-no {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.transactions-no img {
  width: 83.82px;
  height: 90px;
}

.transactions-no p {
  color: #555;
}

.recent-transactions {
  padding: 0px;
  gap: 20px;
  height: 25px;
  color: #682609;
  margin-left: 20px;
  margin-top: 20px;
}
