.see-transactions {
  color: #2595ff;
}

.transaction-box {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.transaction-head {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.transaction {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.transaction-box img {
  height: 300px;
}

.transactions-not {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
