.sidebar {
  background: #241f17;
}
.sidebar-top {
  height: 9%;
  border-bottom: 1px solid #ccc;
}

.sidebar-bottom {
  padding-top: 50px;
  flex: 2;
}

.layout-route {
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 92%;
  margin-left: 6%;
  margin-bottom: 20px;
}

.layout-route:hover {
  color: #191a1b;
  background-color: #ead0a9;
  border-radius: 4px 0px 0px 4px;
}

.route-active {
  color: #191a1b;
  background-color: #ffe4d7;
  /* border-left: 3px solid #f9603d; */
  background: #ead0a9;
  border-radius: 4px 0px 0px 4px;
}
.sidebar-footer {
  height: 15%;
}
.layout-body {
  padding: 10px 60px;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

.layout-body::-webkit-scrollbar {
  display: none;
}

.networks {
  min-width: 10%;
  background-color: #0f257c;
  border: solid 1px #ccc;
  transition: all 0.4s;
  border-radius: 20px;
}
.network:hover {
  background-color: #092bb7;
  border-radius: 20px;
}

.avatar {
  border: 2px solid #ffffff;
}
.avatar-active {
  position: relative;
  width: 10px;
  height: 10px;
  margin-left: 22px;
  top: -8px;
  border-radius: 40px;
  background: #379b1e;
  border: 2px solid #ffffff;
}

.get-test {
  width: 168px;
  height: 47px;
  background: #ffffff;
  border: 1px solid #241f17;
  border-radius: 8px;
}

.header {
  padding: 20px 60px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 818px) {
  .sidebar {
    position: absolute;
    left: -300px;
    z-index: 5;
    transition: all 0.4s;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
